html {
          background: black;
          height: 100%;
          overflow: hidden;
        }
        
        body {
            margin: 0;
            padding: 0;
        }
        canvas {
            display: block;
            margin: auto;
            background: #fff;
            overflow: hidden;
        }
        
        audio {
            display: none;
        }
        
         .home {
            position: absolute;
            top: 90%;
            left: 45%;
            background-color: darkgreen;
            color: white;
            padding: 20px 70px;
            text-align: center;
            text-decoration: none;
            display: table;
            font-size: 50px;
            margin: 10px -15px;
            cursor: pointer;
            transition:  0.3s;
          }