body {
  position: relative;
  width: 100%;
  height: 50vh;
  background-image: url("home.jpg");
  background-repeat: no-repeat;
  background-size: 125%;
  overflow: hidden;
  border: none;
}

h1 {
  font-size: 12vw;
  white-space: nowrap;
  color: #BDDD22;
  animation: color-change 1s infinite;
  text-align: center;
  top: 10%;
}

@keyframes color-change {
  0% { color: red; }
  25% { color: orange; }
  50% { color: blue; }
  75% { color: purple; }
  100% { color: green; }
}


#myText {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: blue;
  background-color: lightgreen;
  text-align: center;
  left: 50%;
  top: 70%;
}

#myText {border-radius: 10%;}

::placeholder {
  color: blue;
}

.button {
  position: absolute;
  top: 90%;
  left: 45%;
  background-color: darkgreen;
  color: white;
  padding: 20px 70px;
  text-align: center;
  text-decoration: none;
  display: table;
  font-size: 50px;
  margin: 10px -15px;
  cursor: pointer;
  transition:  0.3s;
}

.button {border-radius: 45%;}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn:hover {opacity: 0.6}

.char {
  position: absolute;
  top: 115%;
  right: 84%;
  background-color: blue;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: table;
  font-size: 25px;
  margin: -24px -50px;
  cursor: pointer;
  transition:  0.3s;
}

.char {border-radius: 45%;}

.char:hover {opacity: 0.6}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  
}


.row::after {
  content: "";
  clear: both;
  display: table;
}